<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ssm.mapper.RecordMapper">
    <sql id="sid">
         id,sdata,edata,zk,columId,bz
    </sql>
    <sql id="insertId">
        id,sdata,edata,zk,bz
    </sql>
    <select id="selectList" resultType="com.ssm.pojo.Record" parameterType="INTEGER">
        SELECT
        <include refid="sid" />
        from record WHERE id = #{id}
    </select>
    <select id="unfinished" resultType="com.ssm.pojo.Record" parameterType="INTEGER">
        SELECT
        <include refid="sid" />
        from record WHERE id = #{id} AND sdata IS NOT NULL AND (TRIM(edata) IS NULL OR TRIM(edata) = '')
    </select>
    <insert id="insertList" parameterType="com.ssm.pojo.Record">
        INSERT INTO record (<include refid="insertId" />) VALUES (#{id},#{sdata},#{edata},#{zk},#{bz})
    </insert>
    <update id="endInsertList" parameterType="com.ssm.pojo.Record">
      UPDATE record SET edata=#{edata},state=#{state} WHERE id=#{id}
    </update>
    <update id="updateList" parameterType="com.ssm.pojo.Record">
        update record set bz=#{bz},zk=#{zk} where id=#{id}
    </update>
    <delete id="deleteItem" parameterType="INTEGER">
      DELETE FROM record WHERE  columId = #{columId}
    </delete>

</mapper>