<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ssm.mapper.UsersesMapper" >
    <select id="selectList" resultType="com.ssm.pojo.Userses">
        SELECT * from userses
    </select>
</mapper>